.cart{
    align-items: center !important;
    flex-direction: column !important;
}

.clear-cart{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: fixed;
    margin-left: 82%;
    padding: 20px;
    margin-top: 5px;
    background-color: var(--background4);
    color: var(--text2);
    align-items: center;
}
.clear-cart>button{
    padding: 8px;
}

.cart-increment-button{
    width: 28px;
    height: 28px;
    background: var(--background3);
    display: inline-block;
    border: 1px solid #9b4b4b;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    
    
}

.cart-price{
    display: inline-block;
    margin: 7px;
    font-size: medium;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    color: var(--text3);
}

.empty-cart-image{
    
    flex-direction: column;
    height: 400px;
    width: 300px;
}

