.home{
    display: flex;


}

.product-container{
display: flex;
width: 78% ;
padding: 20px;
flex-wrap: wrap;
justify-content: space-around;
}

@media (max-width: 780px) {

    .productContainer {
        width: 58%;
        padding: 0;
    }

    .search {
        display: none;
    }

    .products {
        width: 100%;
    }


    
}