@import "/src/colorcode.css";
.footer{
    /* background-color: hwb(0 87% 5%); */

    /* display: flex;
    bottom: 0;
    position: fixed;
    width: 100%; */

  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /* background-color: #efefef; */
  text-align: center;
  margin-top: 20px;
  height: 20px;


}

hr { 
background-color: var(--background1);
margin: 0 !important;
}