
@import "./components/export.css";
::placeholder { 
    position:relative;
    color: var(--text1);
    font-size: larger;
    
   

}

body{
    font-family:  Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
}

a{
    text-decoration: none ;
}